/* CSS Document */

.container.main-container {
	width: 1000px;
}

.progress-bar.animate {
   width: 100%;
}

/* Carousel Slider */

.carousel-caption {
	height: auto;
	margin-left: 68%;
	z-index: 30;
	background: none;
}

.carousel-indicators {
		top: 90%;
		right: 25px;
		z-index: 31;
}

h4 {
		margin-top: 80px;
		font-size: 18px;
		line-height: 25px;
		font-weight: 400;
}

	.carousel-control {
	z-index: 30;
	top: 50%;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

.caption-block {
	position: absolute;
	z-index: 20;
	right: 0;
	top: 0;
	width: 300px;
	height: 189px;
    background: red;
}

label.valid {
		  width: 24px;
		  height: 24px;
		  background: url(../images/template/valid.png) center center no-repeat;
		  display: inline-block;
		  text-indent: -9999px;
}
label.error {
			font-weight: bold;
			color: red;
			/*padding: 12px 2px 2px;*/
			padding: 2px 8px;
			margin-top: 2px;
}